# **MÓDULO 26 - Projeto Final do Aprofundamento de Analytics**

Bem-vindos ao Projeto de Dashboard de E-commerce! Este projeto é uma oportunidade para vocês aplicarem habilidades essenciais de análise de dados em um cenário prático e realista. Vocês irão trabalhar com um conjunto de dados de transações de clientes de uma loja virtual, distribuídos em duas tabelas distintas. O objetivo final é construir um dashboard interativo que facilite a visualização e análise das informações relevantes do e-commerce, utilizando ferramentas como Looker Studio ou Power BI.

**Objetivo do Projeto:**

Tratamento de Dados: Realizar a junção (JOIN) de duas tabelas utilizando SQL para consolidar as informações.
Análise de Dados: Exportar os dados resultantes para um arquivo CSV.
Visualização de Dados: Desenvolver um dashboard interativo e informativo para visualização das principais métricas e insights do e-commerce.

**Tabelas Disponibilizadas:**

**Tabela de Transações:** Contém os registros de transações realizadas pelos clientes, incluindo detalhes como ID da transação, valor e outros.


**Tabela de Dados Pessoais:** Contém as informações pessoais dos clientes, como ID do cliente, nome, genero, cidade, etc.

**Chave de Ligação:** As tabelas se relacionam através da coluna ID_CLIENT, que é a chave identificadora dos clientes.

# Etapas do Projeto:

1. Realizar um JOIN SQL nas duas tabelas, unificando as informações através da coluna ID_CLIENT. Você deve justificar a escolha do JOIN (Inner/ Left/ Right ou Full).

2. Exportar os dados consolidados resultantes do JOIN para um arquivo CSV.

3. Utilizar Looker Studio ou Power BI para importar o arquivo CSV.

4. Criar visualizações interativas que apresentem métricas importantes, como total de vendas, número de transações, distribuição geográfica dos clientes, perfil demográfico dos clientes, entre outros.

Abaixo temos a configuração do ambiente SQL:

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df_transacoes = pd.read_csv("TB_TRANSACOES_PROJETO_ECOMM.csv", delimiter=';')
df_clientes = pd.read_csv("TB_CLIENTES_PROJETO_ECOMM.csv", delimiter=';')

In [ ]:
conn = sqlite3.connect('projeto.db')
# Carregar o DataFrame no banco de dados SQLite - criando tb_transacoes e tb_clientes
df_transacoes.to_sql('tb_transacoes', conn, index=False, if_exists='replace')
df_clientes.to_sql('tb_clientes', conn, index=False, if_exists='replace')

175

In [ ]:
# Função para executar consultas SQL e retornar o resultado como um DataFrame
def run_query(query):
    return pd.read_sql_query(query, conn)

In [ ]:
# Entender as colunas de Transações
query = """
SELECT *
FROM tb_transacoes
LIMIT 3
"""
result_df = run_query(query)
print(result_df)

   id_client     Category   Price   Card Type
0         37  Electronics   72,93  mastercard
1         38      Jewelry  121,89  mastercard
2         39         Baby    64,3  mastercard

In [ ]:
# Entender as colunas de Clientes
query = """
SELECT *
FROM tb_clientes
LIMIT 3
"""
result_df = run_query(query)
print(result_df)

  state_name First_name Gender                     Job_Title  Id_client
0         TX    Domingo   Male  Structural Analysis Engineer          1
1         MI    Russell   Male            Speech Pathologist          2
2         AL     Kimble   Male           Account Coordinator          3

In [ ]:
query = """
SELECT *
FROM tb_clientes c
LEFT JOIN tb_transacoes t
    ON c.ID_CLIENT = t.ID_CLIENT
"""
result_df = run_query(query)
print(result_df)

    state_name First_name   Gender                     Job_Title  Id_client  \
0           TX    Domingo     Male  Structural Analysis Engineer          1
1           MI    Russell     Male            Speech Pathologist          2
2           AL     Kimble     Male           Account Coordinator          3
3           IL   Barnabas     Male               General Manager          4
4           MN     Tanney   Female                  VP Marketing          5
..         ...        ...      ...                           ...        ...
296         UT  Fairleigh     Male    Desktop Support Technician        171
297         DC    Lambert  Agender             Chemical Engineer        172
298         NY      Jacob     Male      Senior Financial Analyst        173
299         OK        Pip     Male         Chief Design Engineer        174
300         OR     Murvyn   Female          Safety Technician IV        175

     id_client    Category   Price   Card Type
0          1.0    Outdoors   16,97  mastercard
1          2.0     Grocery  143,39  mastercard
2          3.0       Music   37,64  mastercard
3          4.0     Jewelry    8,51  mastercard
4          5.0     Grocery   28,42  mastercard
..         ...         ...     ...         ...
296      171.0       Books   35,85  mastercard
297      172.0  Automotive  130,08  mastercard
298      173.0        Kids   28,38  mastercard
299      174.0      Sports   36,35  mastercard
300      175.0        Kids  141,71  mastercard

[301 rows x 9 columns]

Justifique a escolha do JOIN: Escolhi utilizar o LEFT JOIN para garantir que todos os clientes estejam presentes na análise, mesmo aqueles que ainda não realizaram transações, permitindo uma visão completa da base de clientes no dashboard.

Exportando o arquivo como CSV:

In [ ]:
result_df.to_csv('dados_ecommerce_final.csv', index=False)

**Dicas para o projeto:**
- Se atente que, como o mesmo cliente realiza mais de 1 transação quando você for trazer alguma métrica relacionada a dados do cliente terá que utilizar o distinct para criar essas métricas no dashboard, se não acabará tendo os dados repetidos.

- Análise sua tabela, entenda a dimensão dos dados, no excel, antes de enviar para o Powerbi ou Looker Studio.

- Tente montar preveamente um roteiro de quais métricas e visualizações irá colocar no dashboard, isso tornará seu processo mais rápido.

- Qualquer dificuldade para subir sua base para as ferramentas de visualização envie a base e o erro encontrado para que os tutores possam te ajudar.