# **MÓDULO 25 - Operações Básicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [ ]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [ ]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [ ]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [ ]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

Interpretação

Colunas: Produto

Filtros: Não

Agrupamento: Não

Ordenação: Não

Distintos: Sim

Origem: tb_vendas

Limite: Não

In [10]:
query = """
SELECT DISTINCT (PRODUTO)
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

# 2) Faça uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, não esqueça de renomear sua coluna.

Dica: Você pode usar o distinct dentro do count()

Interpretação

Colunas: Clientes

Filtros: Não

Agrupamento: Não

Ordenação: Não

Distintos: Sim

Origem: tb_vendas

Limite: Não

In [12]:
query = """
SELECT
COUNT(DISTINCT ID_CLIENTE) AS CONTAGEM_CLIENTES
FROM tb_vendas
"""
result_df = run_query(query)
print(result_df)

   CONTAGEM_CLIENTES
0                 22

# 3) Faça uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. Porém apenas para produtos onde o valor_unid é maior ou igual a 50 reais.

Interpretação

Colunas: Produtos e Valor_Unid

Filtros: Sim, Valor_unid >= 50

Agrupamento: Não

Ordenação: Não

Distintos: Sim

Origem: tb_vendas

Limite: Não

In [17]:
query = """
SELECT
DISTINCT (PRODUTO), VALOR_UNID
FROM tb_vendas
WHERE VALOR_UNID >= 50
"""
result_df = run_query(query)
print(result_df)

   PRODUTO VALOR_UNID
0    CALCA       89,9
1  BERMUDA       79,5

# [DESAFIO] 4) Faça uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

Interpretação

Colunas: Id_Compras e Valor_Total (novo)

Filtros: Não

Agrupamento: sim, ID_compras

Ordenação: Sim, 5 maiores

Distintos: Não

Origem: tb_vendas

Limite: Sim, 5

In [22]:
query = """
SELECT
ID_COMPRA,
SUM(VALOR_UNID * UNIDADES) AS VALOR_TOTAL
FROM tb_vendas
GROUP BY ID_COMPRA
ORDER BY VALOR_TOTAL DESC
LIMIT 5
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  VALOR_TOTAL
0       1267          204
1       1262          178
2       1257          178
3       1255          178
4       1253          178

# 5) Faça uma consulta que retorne os produtos e a média do preço da unidade dos produtos, ordenando do maior para o menor.

Interpretação

Colunas: Produtos e Mèdia_Preço (novo)

Filtros: Não

Agrupamento: sIM, PRODUTOS

Ordenação: Sim, DESC

Distintos: Não

Origem: tb_vendas

Limite: Não

In [23]:
query = """
SELECT
PRODUTO,
AVG(VALOR_UNID) AS MÉDIA_UNID
FROM tb_vendas
GROUP BY PRODUTO
ORDER BY MÉDIA_UNID DESC
"""
result_df = run_query(query)
print(result_df)

    PRODUTO  MÉDIA_UNID
0   VESTIDO       102.0
1     CALCA        89.0
2   BERMUDA        79.0
3  CAMISETA        34.0
4      MEIA        25.0

# 6) Faça uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

Interpretação

Colunas: id_clientes e Qtd_compras (Novo)

Filtros: Não

Agrupamento: Sim, clientes

Ordenação: sim

Distintos: Não

Origem: tb_vendas

Limite: Sim, 3

In [28]:
query = """
SELECT
ID_CLIENTE,
COUNT(ID_CLIENTE) AS QTD_COMPRAS
FROM tb_vendas
GROUP BY ID_CLIENTE
ORDER BY QTD_COMPRAS DESC
LIMIT 3
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  QTD_COMPRAS
0        9425            2
1        9081            2
2        9801            1